<!DOCTYPE html>
<html>
<head>
	<title>Scope</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="dashboard.css"/>
	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
	<link href="https://fonts.googleapis.com/css?family=Nova+Flat" rel="stylesheet">
	<script src="dashboard.json"></script>
	<script src="dashboard.js"></script>
</head>
<body>
	<div class="nav">
		<p class="logo">Scope</p>
		<p class="team">GA</p>
		<div class="users">
			<img class="profile" src="assets/sampleprofile.jpg" alt="user image"/>
			<h4 class="username">Moe.mkr</h4>
		</div>
	</div>

	<br/>
	<br/>
	<br/>

	<div class="posts"></div>

</body>
</html>