<!DOCTYPE html>
<html>
<head>
	<title>Scope</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="dashboard.css"/>
	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
	<link href="https://fonts.googleapis.com/css?family=Nova+Flat" rel="stylesheet">
</head>
<body>

	<div class="nav">
		<p class="logo">Scope</p>
		<p class="team">{{teamname}}</p>
		<p class="username"><a href="/user/{{user.username}}">{{user.username}}</a></p>
	</div>

	<br/>
	<br/>
	<br/>
	<form class="form-horizontal" method="POST">
		<p> New Post </p>
		<input id="valler" type="text" class="form-control" name="new_post" placeholder="title"/>
		<input id="valler2" type="text" class="form-control" name="description" placeholder="description"/>
		<input id="valler3" name="team" style="display:none" placeholder=''/>
		<button type="button"></button>
	</form>


		

	<div id="posts">
		
	</div>
		
     
<script>
const c = console.log;
let posts = document.getElementById('posts');
let inp = document.getElementById('valler');
let inp2 = document.getElementById('valler2');
let inp3 = document.getElementById('valler2');
let form = document.getElementsByTagName('form')[0];
let button = document.getElementsByTagName('button')[0];
let h2 = document.getElementsByTagName('h2');
let team = document.getElementById('valler3').placeholder;
let z = Number({{teamid}});
c(z);
window.onload = function(){
	$.ajax(
		{url: "/posts",
		 success: function(result){
		 	for(let a = result.length - 1; a >= 0 ; a--){
		 		if((result[a].r_teamid == z)){ //double equals on purpose 
		 		posts.innerHTML += '<h2 style="background:#eee">'+result[a].posttitle + `<button class='${result[a].postid}'>X</button></h2>`+'<h4 style="background:#fafafa"> description:'+result[a].postdescription + '</h4>';
		 		   
		 		}
		 	}//end of for

		 }
		 
	});
}	
$(document).on('click', 'button', aj);
function aj(a,b){
	c(a.target.className);
	c('foobar');
	
	$.ajax({
			  type: "POST",
			  url: "/del",
			  data: {
			  	postid: a.target.className
			  }  
			}); //end of ajax call
	window.location = "/";

}


	
	button.addEventListener('click',function(){

		c(inp.value + ' foooz');
			$.ajax({
			  type: "POST",
			  url: "/dashboard",
			  data: {new_post:inp.value,
			  	descrip: inp2.value,
			  	team: z
			  },  
			}); //end of outer ajax call

			window.location = "/";
	})



</script>

</body>
</html>