<!DOCTYPE html>
<html>
<head>
	<title>Scope</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="dashboard.css"/>
	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
	<link href="https://fonts.googleapis.com/css?family=Nova+Flat" rel="stylesheet">
	<script src="dashboard.json"></script>
	<script src="dashboard.js"></script>
</head>
<body>

	<div class="nav">
		<p class="logo">Scope</p>
		<p class="team">{{teamname}}</p>
		<div class="users"> 
		<!-- 	<img class="profile" src="assets/sampleprofile.jpg" alt="user image"/> -->
			
			<h4 class="username">{{user.username}}</h4>
			
		</div>
	</div>

	<br/>
	<br/>
	<br/>
	<form class="form-horizontal" method="POST" action="/dashboard">
		<p> New Post </p>
		<input type="text" class="form-control" name="new_post"/>
		<button type="button" class="sub">submit</button>
	<div class="posts">

		<p class="latest"></p>
		<p class="new"></p>
	</div>
	</form>
     
<script>

	$.ajax(
			{url: "/posts", success: function(result){
         		 console.log(result);
         		// console.log(result[0].posttitle);
         		for(let i = result.length -1; i >= 0; i--){
         			console.log(result[i].posttitle);

         			$('.new').append(result[i].posttitle + '<br/>');
         		}
         	} //end of success
            }); 
 
	$('.sub').click(function(){
		console.log($('.form-control').val());
			$("<p>"+$('.form-control').val()+"</p>").insertAfter(".latest");
			setTimeout(function(){
				$('form').submit();
			},2000);			
	})

</script>

</body>
</html>