body{
	text-align: center;
	background-image: url('assets/team.jpg');
	background-repeat: no-repeat;
}
.create{
	margin-top: 20%;
	color: #ecf0f1;
}
.input_style{
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	font-size: 2.0em;
}
h1{
	color: #e74c3c;
}
.form-control{
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;

}

.button{
	background-color: #e74c3c;
	border: #e74c3c;
	color: #ecf0f1;
}
/*
@media screen and (min-height: 480px)


@media screen and (min-width: 480px) and (orientation : landscape)*/