<!DOCTYPE html>
<html>
<head>
	<title>Create an account</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="createuser.css"/>
</head>
<body>
	<div class="create">
		<h1>Create your team</h1>
		<form class="form-horizontal">
			<div class="input_style">
				Name:<input class="form-control" type="text"/>
				Password:<input class="form-control" type="text"/> 
			</div>
			<input class="form-control button" type="submit"/>
		</form>
	</div>
</body>
</html>