body{
	background-image: url('assets/team.jpg');
	background-repeat: no-repeat;
	/*background-size: 100vw 100vh;*/
}
h1{
	margin-top: 5vh;
	margin-left: 5vw;
	color: #e74c3c;
	text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
	font-family: 'Nova Flat', cursive;
	font-size: 6.1em;
}
h2{
	margin-top: 20vh;
	margin-right: 60vw;
	margin-left: 10vw;
	color: #fafafa;
	text-shadow: -2px 0 #000, 0 2px #000, 2px 0 #000, 0 -2px #000;
}
.form-horizontal{
	/*margin-top: 10vh;*/
	background-color: #ecf0f1;
	border-radius: 5px 5px 5px 5px;
}
.input_style{
	color: black;
	text-align: center;
}
.form-control{
	border: 2px solid transparent;
}
.display_none{
	display: none;
}
.tb{
	display: inline-block;
	border: none;
	background: transparent;
	font-size: 1.2em; 
	color: #e74c3c;
}
.tb:hover{
	color: #e74c3c;
	font-size: 1.4em;
}
.checkbox{
	display: inline-block;
}
.changing{
	display: inline-block;
}
h3{
	display: inline-block;
}
.login,.create_team,.create_user{
	width: 50vw;
	margin-left: 45vw;
	margin-top: -35vw;
	display: inline-block;
}

.create_team,.create_user{
	margin-top: -15vw;
}
.create_user{
	background: #EEE;
	border-radius: 3px;
}
p{
	display: inline-block;
}






@media only screen and (max-width: 425px) {	.changing{
		position: absolute;
		top: 0vh;
		width: 100vw;
	}h2{
		margin-right: 15px;
		text-align: center;
	}
}

@media only screen and (min-width: 1200px) {
	body{
		background-size: 100vw 100vh;
	}
}

